

<html>
  <head>
    <title>Buy Item {{id}}</title>
  </head>
  <script src="https://js.stripe.com/v3/"></script>
  <body>
    <h1>{{item.name}}</h1>
    <p>Description of Item {{item.description}}</p>
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
      var stripe = Stripe("{{stripe_public_key}}");
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint
        // Redirect to Stripe Session Checkout
        fetch('/buy/{{id}}', {method: 'GET'})
        .then(response => {return response.json()})
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
      });
    </script>
  </body>
</html>
